.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    /* Espacio entre las tarjetas */
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

/* ProfileCard.css */
.profile-card {
    background-color: rgba(246, 248, 251, 0.7);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 450px;
    width: 500px;
    /* Ajuste del tamaño de la tarjeta */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    background-color: #e0e0e0;
    width: 300px;
    height: 300px;
    border-radius: 19px;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #dd2985;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.home__social-link{
    color: var(--title-color);
    font-size: 2rem;
    transition: .3s;
}

.home__social-link:hover{
    color: rgba(224, 71, 158, 1);
}


/* AboutMe.css */
/* AboutMe.css */
.about-me {
    background-color: rgba(246, 248, 251, 0.7);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin-left: 30px;
    width: 900px;
    /* Ajuste del tamaño de la tarjeta */
    display: flex;
    flex-direction: column;
    text-align: left;
}

.about-me-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about-me-image {
    width: 300px;
    height: 300px;
    border-radius: 19px;
    margin-right: 20px;
    object-fit: cover;
}

.about-me-text h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.about-me-text p {
    font-size: 1em;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .content {

        margin-top: 5rem;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .profile-card {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .about-me {
        width: 90%;
        max-width: 450px;
    }

    .about-me-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-me-image {
        margin-right: 0;
        margin-bottom: 15px;
    }
}