.carousel {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    background-color: rgba(246, 248, 251, 0.7);
    max-width: 900px;
    margin: 0 auto;
    margin-top: 4rem;
}

.carousel-container {
    max-width: 600px;
    margin: auto;
    padding: 0;
    position: relative;
}

.carousel-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 19px;
}

.slick-prev:before,
.slick-next:before {
    content: '';
}

.slick-prev,
.slick-next {
    z-index: 2;
}

/* Ajusta la posición de los puntos */
.slick-dots {
    bottom: 10px; /* Cambia este valor según sea necesario */
}

@media screen and (max-width: 768px) {
    .carousel{
        margin-top: 10rem;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    .carousel-container {
        width: 800px;
        padding-bottom: 2rem; /* Ajusta el padding para que no quede tanto espacio */
    }

    .slick-dots {
        bottom: 5px; /* Ajusta para dispositivos pequeños */
    }
}

@media screen and (max-width: 480px) {
    .carousel-container {
        width: 100%;
        padding-bottom: 1.5rem;
    }

    .slick-dots {
        bottom: 5px;
    }
}
